{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{ user['f_name'] }} {{ user['s_name'] }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-left">
                {% if errors | length %}
                    {% for error in errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <form action="/cabinet" method="post" enctype="multipart/form-data" novalidate>

                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Стоимость большого изображения <span class="required">*</span></label>
                            <input type="text" class="form-control" name="price-large" value="{{ price_large }}">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Стоимость среднего изображения <span class="required">*</span></label>
                            <input type="text" class="form-control" name="price-middle" value="{{ price_middle }}">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Стоимость маленького изображения <span class="required">*</span></label>
                            <input type="text" class="form-control" name="price-little" value="{{ price_little }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Хеш-теги <span class="required">*</span></label>
                        <textarea class="form-control" rows="5" id="comment" name="hash-tags">{{ hash_tags }}</textarea>
                        <p class="help-block">Вводите через запятую</p>
                    </div>

                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Загрузка изображения <span class="required">*</span></label>
                            <input type="file" accept="image/jpeg" name="image" title="Выберите файл" data-filename-placement="inside">
                        </div>
                    </div>
                    <div id="success"></div>

                    <input type="submit" name="add-image" class="btn btn-primary" value="Сохранить">
                </form>
            </div>
        </div>
        {% if images | length %}
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Ваши изображения</h2>
                </div>
            </div>
            <div class="row">
                {% for image_id, image_params in images %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="fancybox" rel="group" href="/media/{{ image_id }}/large.jpg">
                                <img src="/media/{{ image_id }}/{{ image_params['previous'] }}" width="300px" height="200px" alt="...">
                            </a>
                            <div class="caption">
                                <div class="alert alert-{{ image_params['status_alias'] }} text-center" role="alert">
                                    <strong>Статус </strong>{{ image_params['status'] }}
                                </div>
                                <h3>Другие изображения</h3>
                                <table class="table">
                                    <tr class="text-center">
                                        <td><strong>Ширина</strong></td>
                                        <td><strong>Высота</strong></td>
                                        <td><strong>Цена</strong></td>
                                    </tr>
                                    {% for image in image_params['images'] %}
                                        <tr class="text-center">
                                            <td>{{ image['width'] }} px</td>
                                            <td>{{ image['height'] }} px</td>
                                            <td>{{ image['price'] }} р.</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <h3>Хеш теги</h3>
                                {% set hash_tags = '' %}
                                {% for hash in image_params['hash_tags'] %}
                                    {% set hash_tags = loop.first ? '<a>#'~hash~'</a>' : hash_tags~',<a>#'~hash~'</a>' %}
                                {% endfor %}
                                <p>{{ hash_tags | raw }}</p>
                                <h3>Цветовая гамма</h3>
                                <div class="btn-group" style="margin-bottom: 10px">
                                    {% for color in image_params['colors'] %}
                                        {% set color = '#'~color %}
                                        <div class="color-item" style="background-color: {{ color }}"></div>
                                    {% endfor %}
                                </div>
                                <p><a href="/cabinet/edit/{{ image_id }}" class="btn btn-primary" role="button">Редактировать</a> <a href="/cabinet/del/{{ image_id }}" class="btn btn-danger" role="button">Удалить</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}