{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {% if sale_list | length %}
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Всего продано изображений на сумму: {{ total_price }} р.</h2>
                </div>
            </div>

            <div class="row">
                {% for image_id, sale in sale_list %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ sale['path'] }}" width="300px" height="200px" alt="...">
                            <div class="caption">
                                <h3>Количество покупок: {{ sale['total_count_sale'] }}</h3>
                                <h3>На сумму: {{ sale['total_price'] }} р.</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Продано изображений на сумму: {{ total_price }} р.</h2>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}